@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white:#fff;
    --dark1:#34344e;
    --dark2:#3a415a;
    --dark3:#566981;
    --dark4:#89a7b1;
    --dark5:#cbdad5;
    --dark6:#2f2f46;
    --cyan1:#70e3ea;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark2);
}

::-webkit-scrollbar-thumb {
    background: var(--dark3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark4);
}

body{
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Lato';
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark6);
    min-height: 50px;
}

.box-header h1{
    color: var(--cyan1);
    letter-spacing: 5px;
    font-size: .9rem;
    transition: opacity .3s ease;
    
}

.box-header h1:hover{
    opacity: .3;
}

.img-logo{
    max-width: 60px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--dark4);
    transition: .4s;
    text-decoration: underline;
}

.box-btn-actions{
    display: flex;
    gap: 1rem;
}

button, .link-action{
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.btn-action{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-action:hover{
    background-color: var(--dark3);
    border: 1px solid var(--dark3);    
}

.link-action{
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

.decoration p{
    margin-top: 50px;
}

.decoration a{
    margin-top: 50px;
}

.decoration div h1{
    width: fit-content;
    position: relative;
    margin-top: 20px;
    color: transparent;
    animation: written_text .5s ease forwards;
}

.decoration h1:nth-child(1){
    animation-delay: 1s;
}

.decoration h1:nth-child(2){
    animation-delay: 2s;
}

.decoration h1:nth-child(3){
    animation: written_text_name .5s ease forwards;
    animation-delay: 3s;
    
}

.decoration div h1 span{
    position: absolute;
    top: 0;
    left: 0;

    width: 0px;
    height: 100%;
    background: var(--cyan1);

    animation: written_text_box 1s ease;
    animation-delay: .5s;
}

.decoration div h1:nth-child(1) span{
    animation-delay: .5s; 
}

.decoration div h1:nth-child(2) span{
    animation-delay: 1.5s; 
}

.decoration div h1:nth-child(3) span{
    animation-delay: 2.5s; 
}

@keyframes written_text {
    100%{
        color: var(--white);
    }
}

@keyframes written_text_name {
    100%{
        color: var(--cyan1);
    }
}

@keyframes written_text_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

h1{
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 8px;
}

strong{
    color: var(--cyan1);
}

.first-section p{
    color: var(--white);
}

.box-img-main{
    max-width: 450px;
    padding: 1rem;
}

.img-profile{
    border-radius: 50%;
    width: 100%;
}

.second-section,.fourth-section{
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.second-section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section ul li{
    color: var(--dark4);
    letter-spacing: 2px;
    font-weight: bold;
}

.second-section ul li:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: default;
}

.title{
    color: var(--dark5);
}

.stacks{
    display: flex;
    align-items: center;

    flex-direction: row;
}

.stacks ul li{
    display: flex;
    align-items: center;

    position: relative; 

    padding: 15px;
    margin: 10px;

    list-style: none;
}
.stacks ul li img{
    width: 30px;
    height: auto; 
    transition: transform .3s ease;
}

.stacks ul li img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after{
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 15px;
    width: 20px;
    height: 20px;
    font-size: .6rem;
    color: var(--color-white);

}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 250px;
    border-radius: 10px;
}

.third-section > div p{
    max-width: 600px;
    color: var(--white);
    text-align: justify;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#my-projects-list{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-projects-list a{
    text-decoration: none;
    color: var(--dark4);
}

#my-projects-list a:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: pointer;
}

.img-profile, .who-am-i{
    box-shadow: 2px 2px 2px 2px var(--cyan1);
}